table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid #ddd;
    text-align: left;
  }
  
  th, td {
    padding: 15px;
  }
  
  .Coures, .Lecturer , .Score {
    padding: 30px;
  }